<header>
  <a class="internal-link" href="/" style="text-decoration: none;"">
    <img style="vertical-align: middle;" src="/icons/favicon.png" height="40px" />
    <span style="color: black; font-size: 1.5em; vertical-align: middle">{{strings.title}}</span>
  </a>
</header>

<content class="about">
  <h1>{{strings.about}}</h1>
  <p>{{strings.about-about-description}}</p>
  <p class="about-links">
    <a href="https://apps.ankiweb.net">
      <img src="/icons/anki-mark.png" height="25px" />
      <span>Anki</span>
    </a>
  </p>

  <h1>{{strings.about-help-title}}</h1>
  <p>{{strings.about-help-description-1}}</p>
  <p>{{strings.about-help-description-2}}</p>
  <p class="about-links">
    <a href="https://github.com/bpevs/emoji_flashcards/tree/main/data">
      <img src="/icons/github-mark.png" height="25px" />
      <span>Github</span>
    </a>
    <a href="https://discord.gg/m9WGM2QWBK">
      <img src="/icons/discord-mark-black.png" height="20px" />
      <span>Discord</span>
    </a>
  </p>

  <h1>{{strings.about-sponsor-title}}</h1>
  <p>{{strings.about-sponsor-description}}</p>
  <p class="about-links">
    <a href="https://github.com/sponsors/bpevs">
      <img src="/icons/github-mark.png" height="25px" />
      <span>Github Sponsors</span>
    </a>
  </p>
</content>
