<div class="user-lang">
  <form action="/" method="GET">
    <label for="user">🌐</label>
    <select
      name="user"
      id="user-lang"
    >
      {{#select userLangCode}}
        {{#each locales}}
          <option value="{{this.locale_code}}">
            {{this.locale_flag}} {{this.native_name}}
          </option>
        {{/each}}
      {{/select}}
    </select>
    <input type="hidden" name="card" value="{{noteLangCode}}" />
    <noscript>
      <input id="fallback-go" type="submit" value="Go" />
    </noscript>
  </form>
</div>

<content>
  <h1 class="title">{{strings.title}}</h1>

  <div class="description">
    <form action="/" method="GET">
      <input type="hidden" name="user" value="{{userLangCode}}" />
      <label for="card">{{strings.description}}</label>
      <select name="card" id="note-lang">
        {{#select noteLangCode}}
          {{#each locales}}
            <option value="{{this.locale_code}}">
              {{this.locale_flag}} {{lookup ../strings this.locale_code}}
            </option>
          {{/each}}
        {{/select}}
      </select>
      <noscript>
        <input id="fallback-go" type="submit" value="Go" />
      </noscript>
    </form>
  </div>

  <p class="download">
    <a download href="https://static.bpev.me/flashcards/{{userLangCode}}/deck.apkg">
      <span>{{flag}} {{strings.download}}</span>
    </a>
  </p>

  <div id="app">
    <p class="no-js">
      <div class="note-wrapper">
        <div class="note" style="min-height: 300px;">
          <noscript>
            {{strings.no-js}}
          </noscript>
        </div>
      </div>
    </p>
  </div>
</content>



<footer>
  <a href="https://github.com/bpevs/emoji_flashcards">
    <img src="/icons/github-mark.png" height="25px" />
  </a>
  <a href="https://discord.gg/m9WGM2QWBK">
    <img src="/icons/discord-mark-black.png" height="20px" />
  </a>
  <div>{{strings.footer}}</div>
</footer>
