<content class="index">
  <h1 class="title">
    {{strings.title}}
  </h1>

  <div class="description">
    <form action="/" method="GET">
      <input type="hidden" name="user" value="{{userLangCode}}" />
      <label for="card">{{strings.description}}</label>
      <select name="card" id="note-lang">
        {{#select noteLangCode}}
          {{#each locales}}
            <option value="{{this.locale_code}}">
              {{this.locale_flag}} {{lookup ../strings this.locale_code}}
            </option>
          {{/each}}
        {{/select}}
      </select>
      <noscript>
        <input id="fallback-go" type="submit" value="Go" />
      </noscript>
    </form>
  </div>

  <p style="text-align: center;">
    <a class="internal-link" href="/about">{{strings.help-translate}}</a>
  </p>

  <div id="app">
    <p class="no-js">
      <div class="note-wrapper">
        <div class="note" style="min-height: 300px;">
          <noscript>
            {{strings.no-js}}
          </noscript>
        </div>
      </div>
    </p>
  </div>

  <p class="download">
    <a download href="https://static.bpev.me/flashcards/{{userLangCode}}/deck.apkg">
      <span><span class="flag-icon">{{flag}}</span> {{strings.download}}</span>
    </a>
  </p>
</content>
